.m_right{width:761px;float: left;margin-left: 96px;}
.m_right h3{line-height: 42px;height: 42px;border-bottom: 1px solid #bfd0d8;padding-top: 54px;}
.m_right form{margin-left: 80px;padding-top: 28px;}
.m_right .zuce{margin-bottom: 20px;}
.m_right .zuce span{font-size: 20px;display: block;text-align: right;width: 120px;}
.m_right .text{border: 1px solid #bfd0d8; width: 375px;height: 40px;box-shadow: 0 0 2px rgba(0,0,0,0.5) inset;}
.m_right select{width: 72px;height: 25px;}
.m_right .yeal{width: 130px;height: 25px;}
.m_right .bridy{margin-top: 20px;}
.m_right .yzm{widows: 203px;height: 61px;border: 1px solid #0071CF;margin-top: 20px;}
.m_right .huoqu{widows: 203px;height: 40px;border: 1px solid #0071CF;margin-top: 20px;}
.m_right .zuce .btn{width:152px;height: 40px;border: 1px solid #0071CF;background: #69b946;}
.m_right .sb{width: 380px;height: 65px;background: #69b946;border-radius: 6px;}